# server.port=8887
# github.client.id=
# github.client.secret=
# github.redirect.uri=
# ucloud.ufile.public-key=
# ucloud.ufile.private-key=
# ucloud.ufile.bucket-name=
# ucloud.ufile.region=
# ucloud.ufile.suffix=
# ucloud.ufile.expiresDuration=
# spring.datasource.driver-class-name=org.h2.Driver
# spring.datasource.username=sa
# spring.datasource.password=
# spring.datasource.url=jdbc:h2:~/community
# spring.datasource.driver-class-name=com.mysql.jdbc.Driver
# spring.datasource.username=
# spring.datasource.password=
# spring.datasource.url=
# spring.thymeleaf.prefix=classpath:/templates/
# spring.thymeleaf.suffix=.html
# spring.thymeleaf.servlet.content-type=text/html
# spring.thymeleaf.mode=HTML
# spring.thymeleaf.cache=false
# mybatis.configuration.map-underscore-to-camel-case=true
# mybatis.type-aliases-package=life.maijiang.community.model
# mybatis.mapper-locations=classpath:mapper/*.xml
# 日志管理
# logging.file=./logs/community.log
# logging.level.root=info
# logging.level.life.maijiang.community.mapper=debug
# logging.file.max-size=50MB
# logging.file.max-history=30