body {
    background-color: #efefef;
}
.main {
    background-color: white;
    margin: 30px;
    margin-left: 90px;
    margin-right: 90px;
}
.btn-publish {
    float: right;
    margin-bottom: 15px;
}
.img-size {
    width: 43px;
    height: 43px;
}
.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.profile .section {
    margin-top: 32px;
}
.community-menu {
    color: #999;
    font-size: 13px;
}