body {
    background-color: #efefef;
}
.main {
    background-color: white;
    margin: 30px;
    margin-left: 90px;
    margin-right: 90px;
}
.a-sp-up {
    margin-top: 10px;
}
.a-sp-down {
    margin-bottom: 10px;
}
.alert-comment {
    float: left;
}
.btn-publish {
    float: right;
    width: 100px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn-comment {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.comment-float {
    float: right;
}
.comment-sp {
    margin-top: 0;
}
.comment-time {
    float: right;
}
.comment-menu {
    color: #999;
    margin-top: 8px;
}
.comment-second-menu {
    margin-top: 10px;
    margin-bottom: 10px;
}
.comment-menu .glyphicon-style {
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
}
.comment-menu .active {
    color: #499ef3;
}
.comment-menu .glyphicon-style:hover {
    color: #499ef3;
}
.community-menu {
    color: #999;
    font-size: 13px;
}

.div-sp-up {
    margin-top: 30px;
}
.div-sp-down {
    margin-bottom: 30px;
}
.div-sp-left {
    margin-left: 20px;
}
.div-sp-right {
    margin-right: 20px;
}
.editor .editor-toolbar {
    border: 1px solid #ccc;
    border-top: none;
    height: 300px;
    z-index: 10000;
}
.editor .editor-container {
    border: 1px solid #ccc;
    border-top: none;
    height: 300px;
    z-index: 10000;
}
.footer {
    padding: 10px 25%;
    color: rgb(144, 140, 131);
    --darkreader-inline-color: #807d77;
}
.form-group .div-sp-up-list {
    margin-top: 10px;
}
.hr-sp-up {
    margin-top: 10px;
}
.hr-sp-down {
    margin-bottom: 10px;
}
.img-size {
    width: 64px;
    height: 64px;
}
.img-size-head {
    width: 40px;
    height: 40px;
}
.input-width-long {
    width: 300px;
}
.jumbotron {
    margin: 50px;
}
.navigation-glyphicon {
    font-size: 25px;
    color: #abbfd6;
}
.navigation-img-size {
    width: 25px;
    height: 25px;
}
.profile .section {
    margin-top: 32px;
}
.question-related {
    line-height: 20px;
    font-size: 12px;
    list-style: none;
    padding-left: 0;
}
.span-sp-left {
    margin-left: 10px;
}
.span-sp-right {
    margin-right: 10px;
}
.span-sp-up {
    margin-top: 10px;
}
.span-sp-down {
    margin-bottom: 10px;
}
.span-sp-up .span-style {
    white-space: normal;
    margin: 5px 5px;
    display: inline-block;
}
.sub-comments {
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
}
.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}