<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>麻将社区 -- 1.0</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/css/community.css">
    <script type="application/javascript" src="/js/jquery.min.js"></script>
    <script type="application/javascript" src="/js/bootstrap.min.js"></script>

</head>
<body>
<div th:insert="navigation :: nav"></div>
<div class="jumbotron">
    <h1>出错啦！！！</h1>
    <p th:text="${message}">服务器要高烧啦！！要不等一会儿再来试试？</p>
    <p><a class="btn btn-primary btn-lg" href="/index" role="button">回到主页</a></p>
</div>
</body>
</html>