<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>The navigation bar</title>
</head>
<body>
<div th:fragment="footer">
    <div class="panel-footer footer">
        Copyright © 2019·
        <a href="https://creativecommons.org/licenses/by/3.0/cn/">CC BY-NC-SA 3.0</a> ·
        <a href="http://lo">麻将社区</a> ·
        服务器赞助: <a href="https://www.ucloud.cn/">UCloud</a>
        网站程序: Spring Boot · ICP备00000001号
    </div>
</div>
</body>
</html>
