<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>openid</title>
</head>
<body>
<div th:insert="navigation :: nav"></div>
<div class="container-fluid main">
    <!--主栏-->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> 用户设置 </h2>
            <ul class="nav nav-tabs">
                <li><a href=""> 基本资料 </a></li>
                <li><a href=""> 隐私/提醒 </a></li>
                <li><a href=""> 账号绑定 </a></li>
                <li><a href=""> 安全设置 </a></li>
                <li><a href=""> 申请认证 </a></li>
            </ul>
        </div>
    </div>
    <!--联系方式-->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        </div>
    </div>
</div>
<div th:insert="footer :: footer"></div>
</body>
</html>