<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布 -- 1.0</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/css/community.css">
    <script type="application/javascript" src="/js/jquery.min.js"></script>
    <script type="application/javascript" src="/js/bootstrap.min.js"></script>
    <script type="application/javascript" src="/js/wangEditor.min.js"></script>
    <script type="application/javascript" src="/js/publish.js"></script>

</head>
<script type="application/javascript">
    function checkPublishForm() {
        var errorStr = null;
        if (!$("#title").val()) {
            errorStr = +"标题不能为空；";
        }
        if (!$("#tag").val()) {
            errorStr = +"标签不能为空；";
        }
        if (!$("#description").val()) {
            errorStr = +"问题描述不能为空；";
        }
        console.info(errorStr);
        if (!errorStr) {
            $("#error").val(errorStr);
            return false;
        } else {
            return true;
        }
    }
</script>
<body>
<div th:insert="navigation :: nav"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 发起 </h2>
            <hr>
            <form action="/publish" method="post" name="questionForm">
                <input type="hidden" name="id" th:value="${id}">
                <div class="form-group">
                    <label for="title">问题标题（简单扼要）：</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="问题标题......"
                           th:value="${title}" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="title">问题补充（必填，请参照右侧提示）：</label>
                    <!--<textarea class="form-control" name="description" id="description" th:text="${description}"
                              cols="30" rows="10"></textarea>-->
                    <div>
                        <div id="editor"></div>
                        <textarea id="description" style="width:100%; height:200px; display: none" class="form-control"
                                  name="description"
                                  cols="30" rows="10" th:text="${description}"></textarea>
                        <!-- 注意， 只需要引用 JS，无需引用任何 CSS ！！！-->
                        <script type="text/javascript">
                            var E = window.wangEditor;
                            var editor = new E('#editor');
                            var $text1 = $('#description');
                            console.info($text1.val());
                            // 或者 var editor = new E( document.getElementById('editor') )
                            editor.customConfig.onchange = function (html) {
                                // 监控变化，同步更新到 textarea
                                $text1.val(html)
                            };
                            editor.create();
                            editor.txt.clear();
                            // $text1.val(editor.txt.html());
                            editor.txt.append($text1.val());
                        </script>
                    </div>
                </div>
                <div id="questionTag" class="form-group">
                    <label for="tag">添加标签：</label>
                    <input type="text" class="form-control" id="tag" name="tag" placeholder="输入标签，以 ， 隔开"
                           th:value="${tag}" autocomplete="off">
                    <div id="selectTagList" class="span-sp-up">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class=""
                                th:each="selectCatagory, selectCatagoryStat : ${tags}"
                                th:class="${selectCatagoryStat.first ? 'active' : ''}">
                                <a th:href="${'#' + selectCatagory.catagoryName}"
                                   th:aria-controls="${selectCatagory.catagoryName}" role="tab"
                                   data-toggle="tab"
                                   th:text="${selectCatagory.catagoryName}"></a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" th:each="selectCatagory, selectCatagoryStat : ${tags}"
                                 th:id="${selectCatagory.catagoryName}"
                                 th:class="${selectCatagoryStat.first ? 'active tab-pane span-sp-up' : 'tab-pane span-sp-up'}">
                                <span class="label label-info span-sp-right span-style"
                                      th:each="selectTag : ${selectCatagory.tags}">
                                    <span class="glyphicon glyphicon-tag"
                                          th:data-tag="${selectTag}"
                                          th:text="${' ' + selectTag}"
                                          onclick="selectTag(this)"></span>
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="errorAndCommitBtn">
                    <span id="error" name="error" class="alert alert-danger alert-comment" th:text="${error}"
                          th:if="${error != null}"></span>
                    <span>
                        <button type="submit" class="btn btn-success btn-publish btn-comment">发布问题</button>
                    </span>
                </div>
            </form>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>问题发起指南</h3>
            • 问题标题: 请用精简的语言描述您发布的问题，不超过25字
            <br>
            • 问题补充: 详细补充您的问题内容，并确保问题描述清晰直观, 并提供一些相关的资料：
            <br>
            • 选择标签: 选择一个或者多个合适的标签，用逗号隔开，每个标签不超过10个字
            <br>
            • 关于积分： 发起一个问题会消耗您 20 个积分, 每多一个回复你将获得 5 个积分的奖励 ,为了您的利益, 在发起问题的时候希望能够更好的描述您的问题以及多使用站内搜索功能.
            <br>
        </div>
    </div>
</div>
</body>
</html>
<script type="application/javascript">
    $('#tag').click(function () {
        $("#selectTagList").show();
    });
    $(document).bind("click", function (e) {
        if ($(e.target).is('#questionTag') || $(e.target).is('#')) {
            return;
        } else {
            if ($('#questionTag #selectTagList').css("display") == "block") {
                $('#questionTag #selectTagList').hide();
            }
            return false;
        }
    });
    // $('#questionTag').click(function () {
    //     $('#questionTag #selectTagList').hide();
    // })
    // $(document).click(function () {
    //     $('#selectTagList').hide();
    // });
    // $('#selectTagList').click(function (event) {
    //     event.stopPropagation();
    // });
    // $(document).ready(function () {
    //     $('#questionTag').focus(function () {
    //         $('#selectTagList').toggle();
    //         return false;
    //     });
    // })


</script>